<ion-view view-title="Login" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">Login</h1>
        <div class="buttons">
            <a ui-sref="base.projectlist.view()" class="button" ui-sref-opts="{location:'replace'}">Skip</a>
        </div>
    </ion-header-bar>
	<ion-content has-bouncing="true" class="has-header">
        <div class="applogo">
            <h1><img src="img/logo.svg"></h1>
        </div>
        <form ng-submit="submit()" class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="$parent.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="$parent.password">
                </label>
            </div>

            <p class="help">Use your KU account to sign in</p>

            <button class="button button-block button-balanced" type="submit">Sign In</button>
        </form>
    </ion-content>
</ion-view>