<ion-view view-title="Login">
	<ion-content has-bouncing="true">
        <form ng-submit="submit()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="$parent.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="$parent.password">
                </label>
            </div>
            <button class="button button-block button-balanced" type="submit">Sign In</button>
        </form>
    </ion-content>
</ion-view>