<ion-view hide-nav-bar="true">
	<ion-content has-bouncing="true">
		<div class="applogo">
			<h1>Exceed Vote!!!</h1>
			<h4>Voting close at 16:00</h4>
			<h6>{{username}}</h6>
		</div>
		<ion-list>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 1})"> <!--, id2: 'asdfsdf'-->
				<img src="http://placehold.it/80x80">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
				<div class="bestof balanced">Voted Best of Team</div>
				<span class="badge badge-balanced">Voted</span>
			</ion-item>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 2})">
				<img src="http://placehold.it/80x80">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
				<span class="badge badge-balanced">Voted</span>
			</ion-item>
			<ion-item class="item-thumbnail-left" ui-sref="base.project({id: 3})">
				<img src="http://placehold.it/80x80">
				<h2>Project lnw</h2>
				<h4>by Team GG</h4>
				<p>The best team ever</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>