<ion-view view-title="Project lnw">
	<ion-content has-bouncing="true">
		<ion-slide-box class="screenshot">
			<ion-slide>
				<img src="https://lh6.ggpht.com/SfydR32i1zDlt4l2RTLLqfyaepck0S8tmnNJlTYo8UBNhf2Tkptyo-Ff6cGnsJn6JkM=h310-rw">
			</ion-slide>
			<ion-slide>
				<img src="https://lh5.ggpht.com/j1wgGiSsRQ6wKIBzPYMHgBTI5bRODP135Ik1UuwCR02wgJg_UmXNVF6N8qS898mahw=h310-rw">
			</ion-slide>
			<ion-slide>
				<img src="http://placehold.it/480x640">
			</ion-slide>
			<ion-slide>
				<img src="http://placehold.it/480x640">
			</ion-slide>
		</ion-slide-box>
		<ion-list>
			<ion-item>
				<h2>Project lnw ({{id}})</h2>
				<h4>by Team GG</h4>
			</ion-item>
			<ion-item>
				<h3>Description</h3>
				<p class="description">
					Bacon ipsum dolor amet shank pork belly t-bone, ham tail doner kevin tri-tip venison. Chicken shankle ribeye rump hamburger brisket. Ground round turducken jowl filet mignon spare ribs meatball.
				</p>
			</ion-item>
			<ion-item class="item-divider">
				Voting
			</ion-item>
			<div ng-if="!user" class="voteerror">
				<a ui-sref="base.login()" ui-sref-opts="{location: 'replace'}">Login to vote</a>
			</div>
			<div ng-if="user">
				<ion-item class="item-icon-right">
					Category A
					<div class="icon">
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star-outline"></i>
					</div>
				</ion-item>
				<ion-item class="item-icon-right">
					Category B
					<div class="icon">
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star-outline"></i>
					</div>
				</ion-item>
				<ion-item class = "item-icon-right" ng-click="confirmVote()">
					Vote to be Best App
					<i class="icon" ng-class= "{false: 'ion-ios7-circle-outline', true: 'ion-ios7-checkmark-outline'}[bestVoteStatus]" ></i>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ion-view>