<ion-view hide-nav-bar="true">
	<ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title"></h1>
        <div class="buttons" ng-if="user">
            <div class="loginstatus" ng-bind="user.name"></div>
            <button class="button button-default" ng-if="user" ng-click="logout()">Sign Out</button>
        </div>
        <div class="buttons" ng-if="!user">
        	<button class="button button-default" ng-click="logout()">Sign In</button>
        </div>
    </ion-header-bar>
	<ion-content has-bouncing="true">
		<div class="applogo">
			<h1><img src="img/logo.svg"></h1>
			<h4 ng-if = "confid.announcement != '' " ng-bind-html="config.announcement"></h4>
		</div>
		<ion-list>
			<ion-item class="item-thumbnail-left item-icon-right" ng-repeat="project in projects" ui-sref="base.projectlist.project({id: project.id})">
				<img ng-src="{{project.logo}}" ng-if="project.logo">
				<img ng-src="http://placehold.it/80x80" ng-if="!project.logo">
				<h2>{{project.name}}</h2>
				<h3 class="projectsubtitle">by #{{project.group.number}} {{project.group.name}}</h3>
				<i class="icon ion-ribbon-b energized" ng-if="projectHasBest(project) && voteFinished(project)"></i>
				<i class="icon ion-checkmark balanced" ng-if="!projectHasBest(project) && voteFinished(project)"></i>
				<div ng-repeat="category in voteCategory">
					<h4 ng-if="project.vote[category.id] && category.type != 'STAR' "><strong class="energized">{{category.name}}</strong></h4> 
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>