<ion-view view-title="Project lnw">
	<ion-content has-bouncing="true">
		<ion-slide-box class="screenshot">
			<ion-slide>
				<img src="https://lh6.ggpht.com/SfydR32i1zDlt4l2RTLLqfyaepck0S8tmnNJlTYo8UBNhf2Tkptyo-Ff6cGnsJn6JkM=h310-rw">
			</ion-slide>
		</ion-slide-box>
		<ion-list>
			<ion-item>
				<h2>{{project.name}}</h2>
				<h4>by #{{project.group.id}} {{project.group.name}}</h4>
			</ion-item>
			<ion-item>
				<h3>Description</h3>
				<p class="description">{{project.description}}</p>
			</ion-item>
			<ion-item class="item-divider">
				Voting
			</ion-item>
			<div ng-if="!user" class="voteerror">
				<a ui-sref="base.login()" ui-sref-opts="{location: 'replace'}">Login to vote</a>
			</div>
			<div ng-if="user">
				<!-- <ion-item class="item-icon-right" ng-repeat="category in categories">
					{{category.name}}
					<div class="icon">
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star"></i>
						<i class="ion-ios7-star-outline"></i>
					</div>
				</ion-item> -->
				<ion-item class = "item-icon-right" ng-repeat="category in categories"ng-click="bestVote(category.id)">
					{{category.name}}
					<i class="icon" ng-class= "{0: 'ion-ios7-circle-outline', 1: 'ion-ios7-checkmark-outline'}[voteFor[category.id-1]]" ></i>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ion-view>