<ion-view view-title="Vote Result">
	<ion-content has-bouncing="true">
		<div class="card" ng-repeat="project in projects">
			<ion-item class="item-avatar item-divider">
				<img ng-src="{{project.logo}}" ng-if="project.logo">
				<h2>{{project.name}}</h2>
				<h4 class="projectsubtitle">by #{{project.group.id}} {{project.group.name}}</h4>
			</ion-item>
			<ion-item class="item-icon-right" ng-repeat= "category in voteCategory" ng-if="category.type == 'STAR'">
					<div class="catname">{{category.name}}</div>
					<div class="icon">
						{{vote_result[project.id][category.id].scoreString || 0}}<small>/5</small>
					</div>
				</ion-item>
				<ion-item class="item-icon-right" ng-repeat="category in voteCategory" ng-if= "category.type == 'BEST_OF'">
					<div class="catname">{{category.name}}</div>
					<div class="icon">
						{{vote_result[project.id][category.id].scoreString || 0}} <small>votes</small>
					</div>
			</ion-item>
		</div>
	</ion-content>
</ion-view>