.applogo{
	background: #0a2811;
	color: white;
	text-align: center;
	padding: 25px 0;
}
.applogo h1, .applogo h4{
	color: white;
}
.applogo img{
	width: 350px;
}

.applogo h2{
	text-align: right;
	color: white;
}

#proLog h3, #proLog h6{
	color: #989898;
}
.item-note{
	color: #20A337;
}
.bestof{
	font-size: 80%;
	margin-top: 5px;
}
.screenshot{
	padding: 10px 0;
	background: #f0f0f0;
}
.screenshot img{
	max-height: 200px;
	margin: auto;
	display: block;
}
.item .description{
	white-space: normal;
}
.help{
	color: #aaa;
}
.voteerror a{
	display: block;
	text-align: center;
	font-size: 16pt;
	color: #bbb;
	padding: 40px 0;
	text-decoration: none;
}
.loginstatus{
	margin-top: 5px;
	margin-right: 15px;
	font-weight: bold;
}

#best1{
	margin-right: 50px;
}

@media (max-width: 400px){
	.applogo img{
		width: 80%;
	}
}