.applogo{
	background: #135723 url(../img/circuit.png);
	color: white;
	text-align: center;
	padding: 25px 0;
	text-shadow: black 0px 0px 20px;
}
.applogo h1, .applogo h4{
	color: white;
}

.applogo h2{
	text-align: right;
	color: white;
}

#proLog h3, #proLog h6{
	color: #989898;
}
.item-note{
	color: #20A337;
}
.bestof{
	font-size: 80%;
	margin-top: 5px;
}
.screenshot{
	padding: 10px 0;
	background: #f0f0f0;
}
.screenshot img{
	max-height: 200px;
	margin: auto;
	display: block;
}
.description{
	white-space: normal !important;
}
.help{
	color: #aaa;
}
.voteerror a{
	display: block;
	text-align: center;
	font-size: 16pt;
	color: #bbb;
	padding: 40px 0;
	text-decoration: none;
}
.loginstatus{
	margin-top: 5px;
	margin-right: 10px;
	font-weight: bold;
}